@font-face {
  font-family: "AtariClassicSmooth-XzW2";
  src: url("fonts/AtariClassicSmooth-XzW2.ttf");
  src: url("fonts/AtariClassicSmooth-XzW2.ttf"), format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  color: #ffffff;
}

nav {
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(24, 24, 24, 0.5);
  backdrop-filter: saturate(120%) blur(20px);
}

body {
  background: radial-gradient(ellipse at top, #a36485, #7d5b6d, #6c455a);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  transition: 0.3s;
  text-decoration: none !important;
}

li {
  list-style: none;
}

h1,
h2 {
  font-family: "Atari Classic Smooth", "Helvetica Neue", sans-serif !important;
  filter: drop-shadow(-2px 4px 3px #000000);
}

h5 {
  font-weight: normal !important;
}

textarea {
  width: 100% !important; /* Overrides the width of .form-input */
}

form button {
  margin-bottom: 2em;
}

.nav-offset {
  /* Navbar height grossor */
  margin-block-start: 0em;
  margin-block-end: 2em;

  /* Navbar screen start and end position */
  margin-inline-start: 400px;
  margin-inline-end: 315px;
  padding-inline-start: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap !important;
  font-size: 20px;
  height: 60px;
  padding: 5px 0;
  margin-left: 1.2em;
  margin-right: 5em;
}

.navbar a {
  color: #ff0072 !important;
}

.navbar li {
  margin-top: 1em;
}

.nav-item {
  text-transform: uppercase;
  background: none;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #be1963;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.nav-item::before {
  transition: 0.5s all ease;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  position: absolute;
  background-color: #ff0072;
  z-index: -1;
}

.nav-item:hover,
.nav-item:focus {
  transition: 0.3s;
  color: #fff !important;
  background-color: #ff0072;
}

.nav-item:hover::before,
.nav-item:focus::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.nav-item:active {
  transform: scale(0.9);
}

.nav-logo {
  margin-top: 0.4em;
}

.job_Position {
  margin-top: 2em;
}

.about {
  font-size: large;
  margin-top: 1.8em;
  margin-bottom: 2em;
}

.prev-btn {
  border: none;
  background: none;
  width: 10vw !important; /* Bootstrap Row width override */
  height: 30%;
  left: -8vw;
  transform: rotate(180deg);
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.next-btn {
  border: none;
  background: none;
  width: 10vw !important; /* Bootstrap Row width override */
  height: 30%;
  right: -8vw;
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.slider-btn:hover {
  transition: 0.3s;
  filter: invert(90%) sepia(19%) saturate(2584%) hue-rotate(283deg)
    brightness(89%) contrast(87%);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

.inactive {
  transition: 0.6s;
  filter: brightness(60%);
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.next {
  transform: translateX(-400px);
}

.prev {
  transform: translateX(+400px);
}

.skills {
  display: flex;
  justify-content: space-around;
}

.skillCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.6s;
  background-color: #83345e;
  border: 2px;
  border-radius: 5px;
  height: 350px;
  /* width: 275px !important;*/

  text-align: center;
  padding-top: 3em;
}

.skillCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardImg img {
  width: 100px;
  height: 100px;
}

.cardImg {
  width: 100%;
  height: 100%;
  filter: brightness(0.8) grayscale(0.9);
}

.cardImg:hover {
  transition: 0.3s;
  filter: brightness(1) grayscale(0);
}
.cardImg:not(:hover) {
  transition: 0.3s;
}

.cardTxt {
  margin-top: 1.3em;
}

.cardTxt p {
  opacity: 70%;
}

.project {
  margin-top: 5em;
  margin-bottom: 5em;
}

.project a {
  color: #fff;
  font-weight: 500;
}

.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  filter: brightness(1);
  transition: 0.3s;
}

.btn:not(:hover) {
  transition: 0.3s;
}

.btn-primary {
  background: linear-gradient(
    to left,
    #884669,
    #a06685
  ); /* Change the btn color imported from bootstrap framework */
  border: none !important;
  filter: brightness(0.9);
}

.form label {
  display: block;
  font-size: 1.2em;
}

.form-input {
  position: relative;
  color: #000000;
  padding: 10px;
  width: 20em;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  opacity: 0.5;
  border: inset;
  border-color: #a53c76;
  border-width: 3px;
  filter: blur(0.7px);
  filter: drop-shadow(-2px 4px 5px #000000);
  margin-bottom: 1vw !important;
}

.form-input:focus {
  filter: blur(0);
  border-color: linear-gradient(to right, #a53c76, #6d254c);
  outline: none;
}

.footer {
  background-color: #6c455a;
  bottom: 0;
  width: 100%;
}

.social-menu ul {
  background-color: #6c455a;
  position: absolute;
  padding: 2em;
  margin-top: 8em;
  display: flex;
}

.social-menu ul li {
  list-style: none;
  padding: 1.1em;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #a53c76;
  text-align: center;
  transition: 0.4s;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

.social-menu img {
  margin-top: 27%;
  width: 2.2em;
}
.social-menu ul li a:hover {
  transform: translate(0, -10%);
  background: linear-gradient(to right, #a53c76, #6d254c);
}

#about {
  margin-top: 7em;
}

#platform {
  margin-top: -0.4em;
  margin-left: -0.5em;
}

/* MEDIA RESPONSIVE */
@media only screen and (max-width: 1350px) {
  .nav-offset {
    margin-inline-start: 7%;
    margin-inline-end: 1%;
  }
  .navbar {
    flex-wrap: wrap !important;
  }
}

/* Large */
@media only screen and (max-width: 992px) {
  .nav-offset {
    margin-inline-start: 13%;
    margin-inline-end: 5%;
  }
  .navbar {
    flex-wrap: wrap !important;
  }
  .about {
    margin-top: -5em;
  }
}

/* Small */
@media only screen and (max-width: 655px) {
  .navbar {
    flex-wrap: wrap !important;
  }
  .about {
    margin-top: -3em;
  }
}
