@font-face {
  font-family: "AtariClassicSmooth-XzW2";
  src: url("fonts/AtariClassicSmooth-XzW2.ttf");
  src: url("fonts/AtariClassicSmooth-XzW2.ttf"), format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  color: #ffffff;
  scrollbar-color: #bd9711ac transparent; /*firefox scrollbar */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: overlay;
}

nav {
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(24, 24, 24, 0.5);
  backdrop-filter: saturate(120%) blur(20px);
}

body {
  background: linear-gradient(
    to bottom,
    #854e27,
    #4a2b14,
    #0c1505
  ); /* #303030 - 2B2B2B - 1F1F1F - 1B1C1E */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p,
span {
  cursor: default;
}

a {
  transition: 0.3s;
  text-decoration: none !important;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Atari Classic Smooth", "Helvetica Neue", sans-serif !important;
  filter: drop-shadow(-2px 4px 3px #000000);
  cursor: default;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

h5 {
  /*font-family: ;*/
  font-weight: bold !important;
  cursor: default;
}

textarea {
  width: 100% !important; /* Overrides the width of .form-input */
}

form button {
  margin-bottom: 2em;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

.nav-offset {
  /* Navbar height grossor */
  margin-block-start: 0em;
  margin-block-end: 2em;
  /* Navbar screen start and end position */
  margin-inline-start: 400px;
  margin-inline-end: 315px;
  padding-inline-start: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap !important;
  font-size: 20px;
  height: 60px;
  padding: 5px 0;
  margin-left: 1.2em;
  margin-right: 5em;
}

.navbar a {
  color: #000000 !important;
}

.navbar li {
  margin-top: 1em;
}

.nav-item {
  text-transform: uppercase;
  text-align: center;
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.nav-item:hover,
.nav-item:focus {
  transition: all 0.5s;
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  background: #f0d160;
}

.nav-item:not(:hover) {
  transition: all 0.3s ease-in-out;
}

.nav-item:active {
  transition: all 0.3s;
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
  background: #c7a014;
}

.nav-logo {
  margin-top: 0.4em;
}

.job_Position {
  margin-top: 2em !important;
  text-align: center;
}

.about {
  font-size: large;
  margin-top: 1.8em;
  margin-bottom: 6em;
}

.dev-Tools {
  margin-bottom: 6em;
}

.prev-btn {
  transform: translateY(100px);
  left: -8vw;
  filter: drop-shadow(-2px 4px 5px #000000);
}

.next-btn {
  transform: translateY(100px) rotate(180deg);
  right: -8vw;
  filter: drop-shadow(-4px -2px 5px #000000);
}

.next-btn:hover {
  transition: all 0.4s ease-in-out;
  filter: brightness(0.7) drop-shadow(-4px -2px 5px #000000);
}
.prev-btn:hover {
  transition: all 0.4s ease-in-out;
  filter: brightness(0.7) drop-shadow(-2px 4px 5px #000000);
}

.next-btn:not(:hover) {
  transition: all 0.5s ease-in-out;
}

.pacman-btn {
  border-radius: 50%;
  border: none;
  background: none;
  width: 8% !important;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 10;

  border-right: 45px solid transparent;
  border-top: 45px solid #fbca1f;
  border-left: 45px solid #fbca1f;
  border-bottom: 45px solid #fbca1f;
}

/* CALLED FROM JS TO ANIMATE PACMAN BUTTONS */
.animate-pacman {
  animation: openClose 0.8s;
}

.animate-pacman li {
  animation: eat 0.8s ease-out;
  z-index: -5;
}
/*-----------------------------------------*/

@keyframes openClose {
  10% {
    border-right: 45px solid transparent;
  }

  20% {
    border-right: 45px solid yellow;
  }

  30% {
    border-right: 45px solid transparent;
  }

  40% {
    border-right: 45px solid transparent;
  }

  50% {
    border-right: 45px solid yellow;
  }

  60% {
    border-right: 45px solid transparent;
  }
}

@keyframes eat {
  90% {
    transform: translate(-5.5em, 0.5em);
  }
}

.pacman-btn-food {
  display: flex;
  position: absolute;
  gap: 1em;
}

.circles {
  height: 1em;
  width: 1em;
  background-color: yellow;
  border-radius: 50%;
  transform: translate(2.5em, 0.6em);
}

/* CALLED FROM JS TO ANIMATE SLIDER CARDS */
.next {
  transform: translateX(-400px);
}

.prev {
  transform: translateX(+400px);
}

.inactive {
  transition: 0.6s;
  filter: brightness(60%);
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
/*--------------------------------------- */

.skills {
  display: flex;
  justify-content: space-around;
}

.skills-background {
  background: url(img/skillsBg.png);
  border: 3em transparent black;
}

.skillCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.6s;
  background: linear-gradient(to bottom, #573709, #291801);
  border: 2px;
  border-radius: 5px;
  height: 350px;
  /* width: 275px !important;*/

  text-align: center;
  padding-top: 3em;
}

.skillCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardImg img {
  width: 100px;
  height: 100px;
}

.cardImg {
  width: 100%;
  height: 100%;
  filter: brightness(0.8) grayscale(0.9);
}

.cardImg:hover {
  transition: 0.3s;
  filter: brightness(1) grayscale(0);
}
.cardImg:not(:hover) {
  transition: 0.3s;
}

.cardTxt {
  margin-top: 1.3em;
}

.cardTxt p {
  opacity: 70%;
}

.project {
  margin-bottom: 8em;
  display: flex;
}

.project a {
  color: #fff;
  font-weight: 500;
}

.project-img {
  border-radius: 10px;
  position: absolute;
  mix-blend-mode: multiply;
  top: -5em;
  filter: opacity(0.9) brightness(0.8);
}

#projectL {
  right: 2.5em;
}

#projectM {
  top: -7em;
  left: -1em;
}

.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  filter: brightness(1);
  transition: 0.3s;
}

.btn:not(:hover) {
  transition: 0.3s;
}

.btn-primary {
  background: linear-gradient(
    to left,
    #cf801a,
    #9c4a03
  ); /* Change the btn color imported from bootstrap framework */
  border: none !important;
  filter: brightness(0.9);
}

.form label {
  display: block;
  font-size: 1.2em;
}

.form-input {
  position: relative;
  color: #000000;
  font-weight: 500;
  padding: 10px;
  width: 20em;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  opacity: 0.5;
  border: inset;
  border-color: #a53c76;
  border-width: 3px;
  filter: blur(0.7px);
  filter: drop-shadow(-2px 4px 5px #000000);
  margin-bottom: 1vw !important;
}

.form-input:focus {
  filter: blur(0);
  border-color: linear-gradient(to right, #a53c76, #6d254c);
  outline: none;
}

.form label {
  font-weight: 600;
}

.footer {
  bottom: 0;
  width: 100%;
  display: flex;
}

.social-menu ul {
  background-color: #a36913;
  position: absolute;
  padding: 2em;
  margin-top: 8em;
  display: flex;
}

.social-menu ul li {
  list-style: none;
  padding: 1.1em;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #c78014;
  text-align: center;
  transition: 0.4s;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

.social-menu img {
  margin-top: 27%;
  width: 2.2em;
}
.social-menu ul li a:hover {
  transition: all 0.4s ease-in-out;
  transform: translate(0, -10%);
  background: linear-gradient(to bottom, #d19f2a, #915a07);
}

#about {
  margin-bottom: 6em;
  padding: 13%;
}

#about::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  background: url("https://www.showmetech.com.br/wp-content/uploads//2020/09/SlimPowerlessEkaltadeta-size_restricted.gif");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
}

#about h1 {
  margin-top: 0.7em;
  font-size: 5em;
  text-align: center;
}

#hearts:hover {
  transition: all 1s ease-in-out;
  transform: scale(1.2);
}

#hearts:not(:hover) {
  transition: all 1s ease-in;
  transform: rotateY(360deg) scale(1.4);
}

#contact::before {
  content: "";
  position: absolute;
  z-index: -5;
  top: 217em;
  width: 100%;
  height: 60%;
  background: url(img/contactBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 5em;
  background-position-x: center;
  background-attachment: fixed;
  filter: blur(6px);
}

#platform {
  margin-top: -0.4em;
  margin-left: -0.5em;
}

#skills {
  margin-bottom: 19em;
}

#skills::before {
  content: "";
  position: absolute;
  top: -8.5em;
  left: -27em;
  z-index: -5;
  width: 165%;
  height: 129%;
  background: url(img/skillsBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  filter: blur(6px);
}

#skills h4 {
  margin-bottom: 1em;
}

#projects {
  margin-bottom: 15em;
}

/* CUSTOM SCROLLBAR */

/* width */
::-webkit-scrollbar {
  max-width: 0.9em;
  background-color: transparent;
  background: transparent; /* Safari, chrome, opera */
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #bd9711ac, #ffd439bb);
  border-radius: 6px;
  border: none;
}

/* MEDIA RESPONSIVE */
@media only screen and (max-width: 1366px) {
  .nav-offset {
    margin-block-end: 6%;
    margin-inline-start: 7%;
    margin-inline-end: 1%;
  }
  .navbar {
    flex-wrap: wrap !important;
  }
}

/* Large */
@media only screen and (max-width: 810px) {
  .nav-offset {
    margin-inline-start: 0;
  }
  .navbar {
    font-size: 1.4em;
    height: 1.2em;
    margin-left: 4.2em;
    margin-right: 5em;
    /* display, justify-content, flex wrap y padding no tienen efecto porque creo que ya vienen en la clase de bootstrap */
  }

  .navbar li {
    margin-top: 0;
  }

  .nav-item {
    font-size: 0.7em;
  }

  .nav-logo {
    margin-top: 0.1em;
  }

  /*--------- NAV STYLE END --------------- */

  #about {
    padding: 0;
    padding-top: 3em;
    margin-bottom: 0;
  }

  #about::before {
    background-position: center;
  }

  #about h1 {
    margin-top: 0.4em;
    font-size: 3.6em;
  }

  #hearts {
    width: 6em;
    margin-left: 1.5em;
  }

  .job_Position {
    margin-top: 1.5em !important;
  }

  .about {
    margin-top: 2.5em;
    margin-bottom: 8em;
  }

  #skills::before {
    top: -1.5em;
    left: -5em;
    z-index: -10;
    width: 126%;
    height: 116%;
  }

  .dev-Tools {
    margin-bottom: 3em;
  }

  .pacman-btn {
    border-right: 25px solid transparent;
    border-top: 30px solid yellow;
    border-left: 25px solid yellow;
    border-bottom: 30px solid yellow;
  }

  .pacman-btn-food {
    margin-left: -1.5em;
  }

  .skillCard {
    height: 17.5em;
    padding-top: 1.5em;
  }

  .cardImg img {
    width: 75px;
    height: 75px;
  }

  .cardImg h5 {
    margin-bottom: 0.2em;
    display: flex;
    justify-content: center;
    /*añadir container a las tarjetas*/
  }
}

/* Small */
@media only screen and (max-width: 414px) {
  /* From 360px */

  * {
    color: #fcffe7; /*#ECF9FF - #FFFBEB - #FCFFE7 - #FCFFE7*/
  }

  body {
    overflow-x: hidden !important;
  }

  .container {
    overflow: hidden !important;
  }

  .nav-offset {
    margin-inline-start: 0;
    height: 10vw;
  }
  .navbar {
    font-size: 5vw;
    margin-left: 6vw;
    margin-right: 15vw;
    /* display, justify-content, flex wrap y padding no tienen efecto porque creo que ya vienen en la clase de bootstrap */
  }

  .navbar li {
    margin-top: 0;
  }

  .nav-item {
    font-size: 0.7em;
  }

  .nav-logo {
    margin-top: 0.1em;
    width: 13vw;
  }

  /*--------- NAV STYLE END --------------- */

  #about {
    padding: 0;
    padding-top: 3em;
    margin-bottom: 0;
    text-align: justify;
    margin-bottom: 40vw;
  }

  #about::before {
    background-position: center;
    filter: blur(6px) brightness(0.6);
    height: 106%;
  }

  #about h1 {
    margin-top: 0.4em;
    font-size: 12vw;
    justify-content: center;
  }

  #hearts {
    position: relative;
    left: 30%;
    width: 23vw;
    margin-left: 1.5em;
  }

  .job_Position {
    margin-top: 1.5em !important;
  }

  #platform {
    margin-left: 0;
  }

  .about {
    margin-top: 2.5em;
    margin-bottom: 8em;
    font-weight: 500;
  }

  #skills {
    margin-bottom: 45vw;
  }

  #skills::before {
    top: -1.5em;
    left: -5em;
    z-index: -10;
    width: 126%;
    height: 116%;
    background-image: none;
  }

  .dev-Tools {
    margin-bottom: 3em;
  }

  .pacman-btn {
    border-right: 25px solid transparent;
    border-top: 30px solid #fbca1f;
    border-left: 25px solid #fbca1f;
    border-bottom: 30px solid #fbca1f;
  }

  .pacman-btn-food {
    margin-left: -1.5em;
  }

  .circles{
    background-color: #fbca1f;
  }

  .skillCard {
    height: 17.5em;
    padding-top: 1.5em;
  }

  .cardImg img {
    width: 75px;
    height: 75px;
  }

  .cardImg h5 {
    margin-bottom: 0.2em;
    display: flex;
    justify-content: center;
    /*añadir container a las tarjetas*/
  }

  .inactive{
    visibility: visible;
    opacity: 1;
    filter: brightness(.6);
    z-index: 1;
    transform: scale(.8);
  }

  .active{
    z-index: 5;
  }

  .left{
    left: 5vw;
  }

  .right{
    right: 5vw;
  }

  #projects {
    margin-bottom: 10vw;
  }

  #projectL {
    width: 64vw;
  }

  #projectM {
    top: 4vw;
    left: -14vw;
    width: 102vw;
  }
  .project-img {
    top: 24vw;
    z-index: -5;
  }
  .project-info {
    margin-top: 68vw;
  }

  #contact::before {
    top: 985vw;
    height: 92%;
    background-position-y: 0vw;
    filter: blur(3px);
  }

  .footer {
    display: inline-block;
  }
  .social-menu ul {
    position: relative;
    padding: 0;
    margin: 0;
  }
  .social-menu ul li a {
    width: 15vw;
    height: 15vw;
  }
  .social-menu img {
    margin-top: 24%;
    width: 8vw;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 5;
    transition: 0.5s;
  }
  .nav-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20vw 8vw;
    font-size: 7vw;
    line-height: 1;
    transition: 0.3s;
  }
  .nav-menu li a:active {
    box-shadow: 0 -5px 0px #fff inset,
      500apx 0 0 rgba(255, 255, 255, 0.03) inset;
    padding: 35px 25px 45px 25px;
  }
  .hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    z-index: 2;
    transition: 0.3s;
  }
  .hamburger:before,
  .hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
  }
  .toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
  }
  .navigation input:checked ~ .hamburger {
    background: transparent;
  }
  .navigation input:checked ~ .nav-logo {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
  }
}
